########
# SWAP #
########
*.swp
.magma/
*.txt
*.csv
*.json

###############
# Build Files #
###############
build
dist
lake.egg-info

###########
# pycache #
###########
*__pycache__*

###########
# venvs   #
###########
venv/*

# dump
dump/
*dump*
# verilog outputs
*.sv
*.v
*.vscode

*.idea

# local clone of clockwork
clockwork

*egg-info*


what is hard/what have we spent our time thinking about?
plasticine/spatial/
people have made ASIC, but don't have our flexibility
everyone choosees a particular mechanism for synch, how do we do distributed control?
tradeoffs between static schedule and full dynamic?
ready/valid for kernel

