########
# SWAP #
########
*.swp

###############
# Build Files #
###############
build
dist
lake.egg-info

###########
# pycache #
###########
*__pycache__*

###########
# venvs   #
###########
venv/*

# dump
dump/
*dump*
# verilog outputs
*.sv
*.vscode

*.idea